/* Control Menu */
.canvas-wrapper:not(.mod-readonly) .show-while-readonly {
  display: none;
}

#style-menu-dropdown,
#style-menu-dropdown-submenu {
  position: absolute;
  max-height: initial;
}

.canvas-control-item[data-toggled="true"] {
  background-color: var(--color-accent);

  svg {
    stroke: var(--text-on-accent);
  }
}